<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-3"><%= @user %></div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h3><%= @user %></h3>
      <p>Age: <%= @user.age %></p>
      <p>School: <%= @user.school %></p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h3>About Me</h3>
      <small>bio</small>
    </div>
  </div>
</div>
